<!DOCTYPE html>
<html>
  <head>
    <title>Quiz App Project</title>
    <meta name="description" content="Interactive Quiz App">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="body-box">
    <header class="title-bar">
      <h1 class="quiz-title">Geek Quiz</h1>
    </header>

    <main>
      <h1 class="quiz-subtitle">
        Do you know geek trivia?
      </h1>
      
      <div class="intro-box quiz-boxes">
        <h2>It's time for some geek trivia!</h2>
        <p>
          Do you think you have what it takes to prove your geekiness? <br>
          Find out right now by seeing if you can answer these sci-fi, math, science, and geek pop culture questions!
        </p>
        <button class="intro-button">
          Start!
        </button>
      </div>
      
      <div class="questions-box quiz-boxes hidden">
        <form role="form" class="questions-form" action="" method="post" id="quiz-form">
          <container class="input-box">
            <p class="quiz-text" id="quiz-question">Here is my question</p>
            
            <label id="quiz-answer0"><input type="radio" value="0" name="radio-choice" required /><span>Answers go here</span></label><br />
            <label id="quiz-answer1"><input type="radio" value="1" name="radio-choice" /><span>Answers go here</span></label><br />
            <label id="quiz-answer2"><input type="radio" value="2" name="radio-choice" /><span>Answers go here</span></label><br />
            <label id="quiz-answer3"><input type="radio" value="3" name="radio-choice" /><span>Answers go here</span></label><br />
            
            <button id="submit-button" type="submit" data-popup-open="popup-feedback">Submit Answer</button>
          </container>
        </form>
      </div>
      
      <div class="results-box quiz-boxes hidden">
        <h2 id="quiz-results">
          <span>Here is how you did</span>
        </h2>
        <p class="results-text">
          <span>Your score is 5</span>
        </p>
      </div>
      <div id="popup-modal" class="modal hidden">
        <div class="modal-box">
          <span id="close-feedback-modal" class="close-button">X</span>
          <img src="https://media.giphy.com/media/Tcr6ZB3wcvG5q/giphy.gif" class="modal-pic">
          <p class="modal-text">You got it right, nice one!</p>
        </div>
      </div>
    </main>

    <footer>
  
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
    </div>
  </body>
</html>