<!DOCTYPE html>
<html>
  <head>
    <title>Quiz App Project</title>
    <meta name="description" content="Interactive Quiz App">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>

    </header>

    <main>
      <h1>
        The name of my quiz
      </h1>
      
      <div class="intro-box quiz-boxes">
        <h2>Title of quiz</h2>
        <p>
          This is what my quiz does
        </p>
        <button class="intro-button">
          Start!
        </button>
      </div>
      
      <div class="questions-box quiz-boxes hidden">
        <form role="form" class="questions-form" action="" method="post">
          <container class="backgroundBox">
            <h2>Question goes here</h2>
            
          </container>
          
        </form>
      </div>
      
      <div class="results-box quiz-boxes hidden">
        <h2>
          Here is how you did
        </h2>
        <p>
          Your score is 5
        </p>
      </div>
      
    </main>

    <footer>
  
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
